@charset "UTF-8";

body {
    margin: 0;
    position: relative; 
}

.container {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Aplica o desfoque apenas à imagem de fundo */
    z-index: 0; 
}

h1 {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1; /* Insere o texto acima da camada de fundo */
}