@charset "UTF-8";

body {
    margin: 0;
    position: relative; 
}

.container {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; 
    overflow: hidden; 
    position: relative; /* Para o uso de elementos posicionados */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); 
    z-index: 0; 
}

h1 {
    position: absolute; /* Mantém o h1 no topo */
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    text-align: center;
    z-index: 1; /* Insere o texto acima da camada de fundo */
}

a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative; /* Muda para relative para manter no fluxo do flexbox */
    transition: all .35s;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover {
    color: #fff;
}

a:hover:after {
    width: 100%;
}

#resultado {
    margin-top: 20px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #c8ec43; /* Cor do texto */
    position: relative;
    z-index: 1;
}